*{
    font-family:'Courier New', Courier, monospace
}

body{
    background-color: snow;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#outer-box{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: teal;
    height: 400px;
    border: 3px solid black;
    box-shadow: 2px 1px 10px;
    border-radius: 9px;

}
.container{
    border: 4px solid black;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
}
.grid-block{
    border: 1px solid black;
    background-color: aliceblue;
    opacity: 0.1;
    box-sizing: border-box;
}
#left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#left-container > *{
    margin: 10px;
}
button{
    font-weight: bold;
    background-color: black;
    color: snow;
    border-radius: 8px;
    padding: 5px 10px;
}
h1{
    text-align: center;
}